<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>INDEX</title>
</head>
<body>
<h3> This project was created solely to test SECURITY for 2 models </h3>
<form action="/restaurants" method="get">
    <input type="submit" name="" placeholder="" value="For Restaurant"/>
</form>

<form action="/clients" method="get">
    <input type="submit" name="" placeholder="" value="For Client"/>
</form>


<h4>Or, in case you are already logged in as ADMIN, go to a page : </h4>

<form action="/admin/goToSecuredPage2" method="post">

    <input type="submit" name="" placeholder="" value="Go To Secured Page 2"/>

</form>
</body>
</html>